<div class="col-xs-2 markcol mx-4">
  <img src="../assets/images/logo-small.png" style="height: 6vw; min-height: 50px">
</div>
<div class="col-xs-2 markcol mt-2 mx-4 show-mobile">
  <img src="../assets/images/hamburger.png" style="height: 6vw; min-height: 30px">
</div>

<div class="hide-mobile mt-3 col offset-1 markcol">
  <h3 style="text-align: center">work</h3>
</div>
<div class="hide-mobile mt-3 col markcol">
  <h3 style="text-align: center">about</h3>
</div>
<div class="hide-mobile mt-3 col markcol">
  <h3 style="text-align: center">jobs</h3>
</div>
<div class="hide-mobile mt-3 col markcol">
  <h3 style="text-align: center">contact</h3>
</div>
<div class="hide-mobile mt-3 col-1 markcol">
  <h3 style="text-align: center">|</h3>
</div>
<div class="hide-mobile mt-3 col-1 mr-4 markcol">
  <h3 style="text-align: center">fr</h3>
</div>
