body{
  background-color: var(--white);
}

h1, h2, h3, p, img {
  line-height: 1.3;
  letter-spacing: .04em;
  position: relative;
  z-index: 2;
}
h1 {
  font-family: 'Montserrat-M';
  font-size: 40px;
}
h2 {
  font-family: 'Montserrat-M';
  font-size: 40px;
}
h3 {
  font-family: 'Montserrat-L';
  font-size: 25px;
}
p{
  font-family: 'Montserrat-M';
  font-size: 30px;
}

a { text-decoration: underline; }
a.w { color: white; }
a.b { color: black; }

.big-period {
   font-weight: bold;
   line-height: .5;
   font-size: 50px !important;
}

.circle{
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}

 @media only screen and (min-width: 801px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
