---
layout: "wrapper"
---

<div class="jumbotron-fluid" style="background-color:var(--white); height:97vh">
    <div class="container-fluid markcon">
        <div class="row markrow align-items-center justify-content-between" style="height:20vh">{% include menu.html %}</div>
        <div class="row markrow py-4 justify-content-between" style="height:57vh">
            <div class="col-10 offset-1 offset-md-2 align-self-center markcol">
              <h1><b>My Media</b> tells stories <br>for people who move the world <b>forward</b><span class="big-period" style="color:var(--dorange)">.</span></h1>
            </div>
        </div>
        <div class="row markrow py-4 justify-content-between" style="height:20vh"><div class="col-xs-2 align-self-end markcol mx-4"><img src="../assets/images/logo-small.png" style="opacity: 0; height: 6vw; min-height: 50px"></div></div>
    </div>
</div>


<div class="jumbotron-fluid" style="background-color:var(--dblue)">
    <div class="container-fluid py-3 py-sm-5 markcon">
        <div class="row markrow mt-3 mb-4">
            <div class="col-10 offset-1 markcol">
                <h2 style="color:white">The voices fighting for justice, opportunity, and habitability need to be <b>louder</b><span class="big-period" style="color:var(--navy)">.</span></h2>
            </div>
        </div>
        <div class="row markrow my-2 my-sm-4">
            <div class="col-8 offset-1 markcol">
                <p style="color:white">The powerful and the profitable have monopolized the tools that capture our attention. We're here to reclaim those tools.</p>
            </div>
        </div>
        <div class="row markrow my-2 my-sm-4">
            <div class="col-8 offset-1 markcol">
                <p style="color:white; font-family:Montserrat-R">We build campaigns, content, brands, and websites for organizations that push, every day, for social change.</p>
            </div>
        </div>
        <div class="row markrow mt-2 mt-sm-4">
            <div class="col-8 offset-1 markcol">
                <p><a class="w" href="https://www.youtube.com/watch?v=K5le9sYdYkM">More about us.</a></p>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron-fluid" style="background-color:var(--white)">
    <div class="container-fluid py-3 markcon">
        <div class="row markrow justify-content-center">
            <div class="col-2 markcol" style="height:15vw"></div>
            <div class="col align-self-center markcol">
              <h2 style="text-align:center">It looks a little something like <b>this:</b></h2>
            </div>
            <div class="col-2 markcol" style="height:15vw"></div>
        </div>
        <div class="row markrow justify-content-center">
            <div class="col-md-5 mx-3 markcol">
              <img src="../assets/images/bigyoshi-orange.png" style="height: 20vw; margin: auto; display: block; min-height: 170px">
              <p class="ml-4">BIG YOSHI — Video</p>
            </div>
            <div class="col-md-5 mx-3 markcol">
              <img src="../assets/images/bigyoshi-navy.png" style="height: 20vw; margin: auto; display: block; min-height: 170px">
              <p class="ml-4">BIG YOSHI BUT BLUE — Video</p>
            </div>
        </div>
        <div class="row markrow justify-content-center">
            <div class="col-2 markcol" style="height:15vw"></div>
            <div class="col align-self-center markcol">
              <h2 style="text-align:center"><a class="b" href="https://www.youtube.com/watch?v=3Yd3lQVbkYc">Check out more of our work.</a></h2>
            </div>
            <div class="col-2 markcol" style="height:15vw"></div>
        </div>
    </div>
</div>


<div class="jumbotron-fluid" style="background-color:var(--dblue)">
    <div class="container-fluid py-3 py-sm-5 markcon">
        <div class="row markrow mt-3 mb-4">
            <div class="col-10 offset-1 markcol">
                <h2 style="color:white">Every one of us has a world-changing idea— we just need to be taught how to <b>share it</b><span class="big-period" style="color:var(--dorange)">.</span></h2>
            </div>
        </div>
        <div class="row markrow my-4">
            <div class="col-8 offset-1 markcol">
                <p style="color:white">We help young people to learn creative skills in a hands-on environment through workshops, mentorship, and goal-based learning.</p>
            </div>
        </div>
        <div class="row markrow mt-4">
            <div class="col-8 offset-1 markcol">
                <p><a class="w" href="https://www.youtube.com/watch?v=K5le9sYdYkM">Find out more about our educational programs.</a></p>
            </div>
        </div>
    </div>
</div>

{% include circle.html color="lblue" size="21" top="23" left="9"%}
{% include circle.html color="dorange" size="7" top="10" left="60"%}
{% include circle.html color="lorange" size="14" top="35" left="75"%}
{% include circle.html color="navy" size="7" top="85" left="5"%}
